<html>
<head>
  <link rel="stylesheet" href="leaflet.css">
  <script src="underscore.js"></script>
  <script src="leaflet.js"></script>

  <style>
    #map { height: 100%; }
  </style>
</head>
<body>
<div id="map"></div>
<script>
  var URL_PREFIX = 'images/'; // Ted probably change this
  var WORLD_ID = location.hash.substring(1);

  var map = L.map('map', {
    minZoom: -3,
    maxZoom: 0,
    crs: L.CRS.Simple
  }).setView([0, 0], 0);

  //var urlTemplate = WORLD_ID + "/{z}/{x}_{y}.png";

  var urlTemplate = _.template("<%= urlPrefix %><%= worldId %>/<%= 1 / scale %>/<%= x * tileSize / scale %>_<%= y * tileSize / scale %>.png");

  var MyTileLayer = L.TileLayer.extend({
    getTileUrl: function (coords) {
      var x = coords.x;
      var y = this.options.tms ? this._globalTileRange.max.y - coords.y : coords.y;
      var z = this._getZoomForUrl();

      var scale = {
        "0": 1/32,
        "-1": 1/64,
        "-2": 1/128,
        "-3": 1/256,
        "-4": 1/512,
        "-5": 1/1024,
        "-6": 1/2048,
        "-7": 1/4096,
        "-8": 1/8192
      }[z];

      return urlTemplate({
        x: x, y: y, scale: scale,
        worldId: WORLD_ID,
        tileSize: this._tileSize,
        urlPrefix: URL_PREFIX
      });
    },
  })

  new MyTileLayer(urlTemplate, {
    minZoom: -3,
    maxZoom: 0,
    continuousWorld: true,
    noWrap: true,
    errorTileUrl: 'error.png',
    tileSize: 600
  }).addTo(map);

</script>
</body>
</html>